<div class="col-5 mx-auto mt-3">
  <div>
    <h2>Editing Book</h2>
  </div>
  <div>
    <% if @book.errors.any? %>
      <h2><%= @book.errors.count %>errors prohibited this obi from being saved:</h2>
      <ul>
        <% @book.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    <% end %>
  </div>
  <div>
  <%= form_with model: @book do |f| %>
    <p>Title</p>
    <%= f.text_field :title, size:55 %><br><br>
    <p>Opinion</p>
    <%= f.text_area :body, size: "54×54" %><br>
    <%= f.submit 'Update Book', class: "btn btn-success" %>
  <% end %>
  </div>
    <div class="container">
      <div class="row">
          <div><%= link_to "Show", "/books/#{@book.id}" %></div>
          <div class="ml-1">|</div>
          <div class="ml-1"><%= link_to "Back", "/books" %></div>
      </div>
    </div>
</div>
