<!DOCTYPE html>
<html>
  <head>
    <title>Bookers2</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="d-flex flex-column vh-100">
    <header class="bg-dark" style="height: 56px;">
      <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container">
          <div>
            <a class="text-white navbar-brand" href="/">Bookers</a>
          </div>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ml-auto">
              <% if user_signed_in? %>
                <div class="collapse navbar-collapse" id="navbarNavDropdown">
                  <li class="nav-item mr-3">
                    <%= link_to "/users/#{current_user.id}" do %>
                      <p style="color: white;"><i class="fa fa-home" style="color: white;"></i>Home</p>
                    <% end %>
                  </li>
                  <li class="nav-item mr-3">
                    <%= link_to "/users" do %>
                      <p style="color: white;"><i class="fa fa-users" style="color: white;"></i>Users</p>
                    <% end %>
                  </li>
                  <li class="nav-item mr-3">
                    <%= link_to "/books" do %>
                      <p style="color: white;"><i class="fa fa-book-open" style="color: white;"></i>Books</p>
                    <% end %>
                  </li>
                  <li class="nav-item mr-3">
                    <%= link_to destroy_user_session_path, method: :delete do %>
                      <p style="color: white;"><i class="fa fa-sign-in-alt" style="color: white;"></i>Log out</p>
                    <% end %>
                  </li>
                </div>
              <% else %>
                <div class="collapse navbar-collapse" id="navbarNavDropdown">
                  <li class="nav-item mr-3">
                    <%= link_to root_path do %>
                      <p style="color: white;"><i class="fa fa-home" style="color: white;"></i>Home</p>
                    <% end %>
                  </li>
                  <li class="nav-item mr-3">
                    <%= link_to about_path do %>
                      <p style="color: white;"><i class="fa fa-link" style="color: white;"></i>About</p>
                    <% end %>
                  </li>
                  <li class="nav-item mr-3">
                    <%= link_to new_user_registration_path do %>
                      <p style="color: white;"><i class="fa fa-user-plus" style="color: white;"></i>Sign up</p>
                    <% end %>
                  </li>
                  <li class="nav-item mr-3">
                    <%= link_to new_user_session_path do %>
                      <p style="color: white;"><i class="fa fa-sign-in-alt" style="color: white;"></i>Log in</p>
                    <% end %>
                  </li>
                </div>
              <% end %>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <main>
      <%= yield %>
    </main>
    <footer class="bg-white text-black pt-5 pb-4 mx-auto">
      <p>CopyRight Infratop.inc</p>
    </footer>
  </body>
</html>